#header {
  background-color: aqua;
  font-size: 300%;
  text-align: center;
}

h2 {
  font-size: 250%;
  padding-left: 60px;
  background-color: bisque;
}

#name,
#phoneno,
#company,
#university {
  margin: 0% 0% 0% 25%;
  width: 30%;
  padding: 8px;
}

#surname,
#email,
#position,
#major {
  margin: 1% 0% 0% 2%;
  width: 30%;
  padding: 8px;
}

#btn1 {
  margin: 1% 0% 0% 25%;
  width: 8%;
  padding: 0.5%;
  background-color: blue;
  color: white;
  font-size: 130%;
}

#l1 {
  margin: 0% 0% 0% 21%;
}

#l2 {
  margin: 0% 0% 0% 5.5%;
}

#l3 {
  margin: 0% 0% 0% 17%;
}

#date {
  padding: 7px;
  margin: 1% 0% 0% 1%;
}

#respons {
  padding: 7px;
  margin: 1% 0% 0% 1%;
  width: 64%;
  height: 50%;
  resize: none;
}

#details {
  padding: 7px;
  margin: 1% 0% 0% 4.5%;
  width: 64%;
  height: 50%;
  resize: none;
}

#btn2 {
  margin: 0% 0% 0% 75%;
  width: 15%;
  padding: 0.5%;
  background-color: rgb(255, 165, 0);
  color: white;
  font-size: 100%;
}

#btn3 {
  margin: 3% 45%;
  padding: 1%;
  background-color: rgb(231, 228, 222);
  color: black;
  font-size: 120%;
}

@media screen and (max-width: 1200px) {
  body {
    background-color: palegreen;
  }
}

pre {
  font-weight: bolder;
}

#display {
  margin: 2%;
}

#dis-city {
  text-align: end;
}

#resume,
#workExp,
#education {
  padding: 1%;
  margin: 1%;
  background-color: rgb(189, 218, 189);
}

h3 {
  margin: 0% 0%;
  font-size: x-large;
}

p {
  margin: 0% 0%;
  font-weight: bold;
}

h1 {
  margin: 1% 0%;
  color: rgb(39, 16, 168);
}
